__pycache__/*
.ipynb_checkpoints/*
.virtual_documents/*
.vscode/*
*.jupyterlab-workspace
*.pkl
*.pyc
block_definitions.json
cppn-system/*
custom-tests/*
icmap-elites/estimators_perf.log
PCGSEPy.egg-info/*
