bs4
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-daq
kaleido
matplotlib
numpy
pandas
pyinstaller
scipy
simplejson
sklearn
statsmodels
steamctl
# decomment to use PyTorch
# torch
tqdm
waitress