.title {
    padding: 20px;
    text-align: center;
}
.page-description {
    padding: 10px;
    text-align: left;
}
.header {
    background-image: linear-gradient(#464d55, #222222);
    color: rgb(238, 238, 238);
}
.footer {
    background-image: linear-gradient(#222222, #464d55);
    color: #EEEEEE;
}
.section-title {
    text-align: center;
}
a {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}