cockpit 1 LargeBlockCockpitFU++++
+corridor 1 +rotXccwY[LargeBlockArmorBlockFU+++++LargeBlockArmorBlockFU+++++LargeBlockArmorBlockFU!!!!!LargeBlockArmorBlockFU!!!!!LargeBlockArmorBlockFU<<<<<LargeBlockArmorBlockFU<<<<<LargeBlockArmorBlockFU?????LargeBlockArmorBlockFUrotZcwY?????LargeBlockArmorBlockFU>>>>>LargeBlockArmorBlockFU]+++++
>corridor 1 >
!corridor 1 !