cockpit 1 CFU++++
#+corridor 1 +[b<b<b<b<b!b!b!b!b!b>b>b>b>b?b?b?b?b]
+corridor 1 +[BFU+++++BFU+++++BFU!!!!!BFU!!!!!BFU<<<<<BFU<<<<<BFU?????BFU?????BFU>>>>>BFU]+++++
#!corridor 1 !B!!!!!
!corridor 1 !!!!!
#>corridor 1 >B>>>>>
>corridor 1 >>>>>