.ipynb_checkpoints/*
*.json
*.spec
build/*
dist/*
plots/*
Space Engineers AI Spaceship Generator Questionnaire.csv
Space Engineers AI Spaceship Generator Questionnaire (File responses)/*
mprofile*
*memory_profiler*
*.log